$accentColor = #FFA500
$textColor = #2D2D2D
$borderColor = #FFFFFF
$codeBgColor = #464646
$shadowColor = #7E6551

// Layout
$navbarHeight = 2rem
$sidebarWidth = 15rem
$contentWidth = 1000px

// Responsive Breakpoints
$MQNarrow = 965px
$MQMobile = 730px
$MQMobileNarrow = 430px

.theme-container.custom-page-class {
  font-family: "Apple Gothic", "Century Gothic", Nunito, AppleGothic, CenturyGothic, sans-serif;
  h1 {
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 27px;
  }
  h2 {
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 25.5px;
  }
  h3 {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 24px;
  }
  p {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 22px;
  }
  a {
    font-family: CenturyGothic;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 22px;
  }
  blockquote {
    font-family: CenturyGothic;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 18px;
  }
  pre {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
